@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* * {
  color: #0b0d13;
} */

svg {
  margin: 15px;
}

.loader {
  /* stroke: #3e48d0; */
  stroke-width: 18;
  transform-origin: center;
  fill: transparent;
  stroke-linecap: round;
  transition: all 0.5s ease;
}

.loader.primary {
  stroke: #3e48d0;
}

.loader.grey {
  stroke: #c1c1c1;
}

.loader.moderate {
  stroke: #f5a623;
}

[data-theme="customtheme"] .btn {
  transition: all 0.1s ease;
}

[data-theme="customtheme"] .btn:hover {
  scale: 0.95;
}

[data-theme="customtheme"] .btn:active {
  scale: 0.9;
}

[data-theme="customtheme"] .btn-primary {
  border-color: hsla(223, 100%, 79%, 1);
  background-color: rgba(219, 229, 255, 0.3);
}

[data-theme="customtheme"] .btn-ghost,
[data-theme="customtheme"] .btn-primary {
  color: hsla(236, 61%, 32%, 1);
}

[data-theme="customtheme"] .btn-success {
  color: rgba(27, 105, 40, 100%);
  border-color: rgba(200, 255, 209, 100%);
  background-color: rgba(236, 255, 239, 100%);
}
