@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  color: #0b0d13;
}

svg {
  margin: 15px;
}

.loader {
  stroke: #3e48d0;
  stroke-width: 18;
  transform-origin: center;
  fill: transparent;
  stroke-linecap: round;
  transition: all 0.5s ease;
}
.loader.grey {
  stroke: #c1c1c1;
}
